@model IEnumerable<Gebrauchtswagen.Models.Fahrzeug>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zustand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bezeichnung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Preis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zustand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bezeichnung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FahrzeugId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FahrzeugId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FahrzeugId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
